.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__commentform {
  display: flex;
  flex-direction: column;
  textarea {
    border-radius: 5px;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    .comment__icon {
      width: 10%;
      text-align: center;
    }
    .comment__content {
      width: 80%;

      padding-left: 5px;
      pre {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
    .comment__deleteBtn {
      width: 10%;
      text-align: center;
    }
  }
}
