extends ../base

block content 
    form(method="POST")
        input(placeholder="Old Password", name ="oldPassword", type="password", required)
        input(placeholder="New Password", name ="newPassword", type="password", required)
        input(placeholder="New Password Confirmation", name ="newPasswordC", type="password", required)
        input(value="Change Password", type="submit")